{% extends 'base.html' %}

{% block content %}
    <style> 
        th, td {
        border: 1px solid black;
        padding: 4px;
        }
    </style>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
        <a class="navbar-brand" href="#">Shopping List 🛒</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Tiffany Lindy Adisuryo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'main:logout' %}">Logout</a>
            </li>
            </ul>
        </div>
        </div>
    </nav>

    <h1>Shopping List Page</h1>

    <h5>Name:</h5>
    <p>{{name}}</p>

    <h5>Class:</h5>
    <p>{{class}}</p>


    <table bgcolor="black" width="1200">
        <tr align="center"  bgcolor="#46B2B5">
            <th width="100">Name</th>
            <th width="100">Price</th>
            <th width="800">Description</th>
            <th width="100">Date Added</th>
            <th width="100"></th>
        </tr>

        {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

        {% for product in products %}
            <tr bgcolor="white">
                <td align="center">{{product.name}}</td>
                <td align="center">{{product.price}}</td>
                <td>{{product.description}}</td>
                <td align="center">{{product.date_added}}</td>
                <td align="center">
                    <a href="{% url 'main:edit_product' product.pk %}">
                        <button>
                            Edit
                        </button>
                    </a>
                    <a href="{% url 'main:delete_product' product.pk %}">
                        <button>
                            Delete
                        </button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <br />

    <a href="{% url 'main:create_product' %}">
        <button>
            Add New Product
        </button>
    </a>

    <h5>Sesi terakhir login: {{ last_login }}</h5>

    <a href="{% url 'main:logout' %}">
        <button>
            Logout
        </button>
    </a>
{% endblock content %}